@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Hanken Grotesk', sans-serif;
    text-align: justify;

}


main {
    margin: 245px auto;
    width: 620px;
    height: 440px;
    display: flex;
    box-shadow: 5px 10px 40px hsla(230, 100%, 50%, 0.114);
    border-radius: 30px;
}

.result {
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 310px;
    border-radius: 30px;
    color: white;
 }   

h2, h3 {
    text-align: center;
    margin-top: 30px;
 }

h2{
    padding-top: 30px;
    font-size: 30px;
 }

 h3 {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.518);
 }

.num-1 {
    margin: 30px auto;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    color: white;
    border-radius: 50%;
    height: 130px;
    width: 100px;
    font-size: 70px;
    font-weight: 900;
    font-family: 'Hanken Grotesk', sans-serif;
 }

.num-2 {
    margin-top: -80px;
    color: rgba(255, 255, 255, 0.518);
 }

.result > p {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.text {
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.518);
}
/* parte 2 */

.summary {
    width: 310px;
    border-radius: 0 30px 30px 0;
}

#titulo-2 {
    text-align: left;
    padding-left: 30px;
    color: hsl(224, 30%, 27%);
}

.summary > div {
    text-align: left;
    font-size: 15.5px;
    height: 45px;
    width: 250px;
    margin: 20px auto; 
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.055);
}

img {
    padding: 0px 0px 0px 10px;
    width: 18px;
}

strong {
    color: hsl(224, 30%, 27%);
}

#frase-2, .ajuste-frase {
    color: rgba(0, 0, 0, 0.412);
    padding-left: 70px;
}

#frase {
    padding-left: 10px;
    margin-top: 12px;
    font-weight: bolder;
   
}

#react {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.074);
}

#memory {
    color: hsl(39, 100%, 56%);
    background-color: hsl(39, 100%, 56%, 0.074);
}

#verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 37%, 0.074);
}

#visual {
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 45%, 0.074);
}

.ajuste-frase {
    padding-left: 84px;
}

button {
    margin: 38px auto;
    display: block;
    border-radius: 30px;
    border: none;

    width: 248px;
    height: 48px;
    font-weight: bolder;
    font-size: 15px;

    text-align: center;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    cursor: pointer;
}

.attribution > p, a {
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    font-size: 20px;
    background-color: rgba(0, 0, 255, 0.047);
}

@media (max-width: 600px) {
    main {
        width: 400px;
        height: 900px;
        margin: auto;
        display: block;
    }

    .result {
        height: 400px;
        width: 400px;
        margin-top: -30px;
        border-radius: 0px 0px 30px 30px ;
    }

    .result > h3 {
        padding-top: 20px;
    }

    .summary {
        height: 450px;
        width: 400px;
    }

    .summary > div {
        margin: 30px auto;
        width: 350px;
        height: 55px;
    }

    #frase {
        padding-top: 6px;
    }

    #frase-2 {
        padding-left: 170px;
    }

    .ajuste-frase {
        padding-left: 183px;
    }

    #titulo-2 {
        font-size: 20px;
    }

    button {
        width: 350px;
        height: 55px;
        font-size: 18px;
        margin-top: -5px;
        background-color: hsl(224, 30%, 27%);
    }
}